version: 2.1
orbs:
  gradle: circleci/gradle@1.0.10
  browser-tools: circleci/browser-tools@1.2.3
_defaults: &defaults
  working_directory: ~/code
  environment:
    JVM_OPTS: -Xmx4G
commands:
  with_cache:
    description: "Caches and restores gradle dependencies"
    parameters:
      cache_key:
        type: string
        default: v1
      steps:
        type: steps
    steps:
      - restore_cache:
          key: >-
            gradle-<< parameters.cache_key >>-{{ checksum "gradle/libs.versions.toml" }}-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
      - steps:
          << parameters.steps >>
      - save_cache:
          key: >-
            gradle-<< parameters.cache_key >>-{{ checksum "gradle/libs.versions.toml" }}-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
          paths:
            - ~/.gradle/caches
            - ~/.gradle/wrapper
            - ~/.konan
  gradle_publish:
    description: "Publishes to sonatype/maven central"
    parameters:
      publish_task:
        type: string
        default: publish
    steps:
      - deploy:
          command: |
            if [ "${CIRCLE_BRANCH}" == "main" ]; then
              echo "$MAVEN_CENTRAL_SEC_RING" | base64 -d > $HOME/secring.gpg
              ./gradlew << parameters.publish_task >> -PsonatypeUsername="$SONATYPE_USERNAME" -PsonatypePassword="$SONATYPE_PASSWORD" -Psigning.keyId=34BCD878 -Psigning.password="$MAVEN_CENTRAL_KEY_PASSPHRASE" -Psigning.secretKeyRingFile=$HOME/secring.gpg --no-parallel
            fi
jobs:
  build-linux:
    docker:
      - image: cimg/openjdk:11.0.11-browsers@sha256:02d8ac1beb99bff9c303376388355c6f87f9e29960804e920f01f30547214f7c
    resource_class: medium+
    <<: *defaults
    steps:
      # Work-around kotlin native using an old version of libtinfo https://github.com/circleci/circleci-images/issues/430
      - run:
          name: Install libtinfo5
          command: sudo apt update && sudo apt install -y libtinfo5
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - checkout
      - with_cache:
          cache_key: linux
          steps:
            - run:
                name: Build
                command: ./gradlew assemble
            - run:
                name: Run Tests
                command: ./gradlew check --continue
            - gradle/collect_test_results:
                test_results_path: build/test-results
                reports_path: build/reports
            - gradle_publish
  build-macos:
    macos:
      xcode: "13.0.0"
    <<: *defaults
    steps:
      - checkout
      - with_cache:
          cache_key: macos
          steps:
            - run:
                name: Build
                command: ./gradlew assemble
            - run:
                name: Run Tests
                command: ./gradlew checkApple --continue
            - gradle/collect_test_results:
                test_results_path: build/test-results
                reports_path: build/reports
            - gradle_publish:
                publish_task: publishApple
workflows:
  version: 2
  build:
    jobs:
      - build-linux:
          filters:
            branches:
              ignore: main
      - build-macos:
          filters:
            branches:
              ignore: main
      - build-linux:
          context: opensource-maven
          filters:
            branches:
              only: main
      - build-macos:
          context: opensource-maven
          filters:
            branches:
              only: main
