version: 2.1
orbs:
  gradle: circleci/gradle@3.0.0
  browser-tools: circleci/browser-tools@1.4.6
_defaults: &defaults
  working_directory: ~/code
  environment:
    JVM_OPTS: -Xmx4G
commands:
  with_cache:
    description: "Caches and restores gradle dependencies"
    parameters:
      cache_key:
        type: string
        default: v1
      steps:
        type: steps
    steps:
      - restore_cache:
          key: >-
            gradle-cache-<< parameters.cache_key >>-{{ checksum "gradle/libs.versions.toml" }}-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
      - restore_cache:
          key: >-
            konan-<< parameters.cache_key >>-{{ checksum "gradle/libs.versions.toml" }}-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
      - steps:
          << parameters.steps >>
      - save_cache:
          key: >-
            gradle-cache-<< parameters.cache_key >>-{{ checksum "gradle/libs.versions.toml" }}-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
          paths:
            - ~/.gradle/caches
            - ~/.gradle/wrapper
      - save_cache:
          key: >-
            konan-<< parameters.cache_key >>-{{ checksum "gradle/libs.versions.toml" }}-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
          paths:
            - ~/.konan
  gradle_publish:
    description: "Publishes to sonatype/maven central"
    parameters:
      publish_task:
        type: string
        default: publish
    steps:
      - run:
          command: |
            if [ "${CIRCLE_BRANCH}" == "main" ]; then
              echo "$MAVEN_CENTRAL_SEC_RING" | base64 -d > $HOME/secring.gpg
              ./gradlew << parameters.publish_task >> -PsonatypeUsername="$SONATYPE_USERNAME" -PsonatypePassword="$SONATYPE_PASSWORD" -Psigning.keyId=34BCD878 -Psigning.password="$MAVEN_CENTRAL_KEY_PASSPHRASE" -Psigning.secretKeyRingFile=$HOME/secring.gpg --no-parallel
            fi
jobs:
  build-linux:
    docker:
      - image: cimg/openjdk:17.0.9-browsers@sha256:8839dc66dbde220adecfa1319727aa88162a9ce73522e11ddcffa72771da5616
    resource_class: large
    <<: *defaults
    steps:
      - checkout
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - with_cache:
          cache_key: linux
          steps:
            - run:
                name: Build
                command: ./gradlew assemble
            - run:
                name: Run Tests
                command: ./gradlew check --continue
            - gradle/collect_test_results:
                test_results_path: build/test-results
                reports_path: build/reports
            - gradle_publish
  build-macos:
    macos:
      xcode: "14.1.0"
    resource_class: macos.m1.medium.gen1
    <<: *defaults
    steps:
      - checkout
      - with_cache:
          cache_key: macos
          steps:
            - run:
                name: Build
                command: ./gradlew assemble
            - run:
                name: Run Tests
                command: ./gradlew checkApple --continue
            - gradle/collect_test_results:
                test_results_path: build/test-results
                reports_path: build/reports
            - gradle_publish:
                publish_task: publishApple
workflows:
  version: 2
  build:
    jobs:
      - build-linux:
          filters:
            branches:
              ignore: main
      - build-macos:
          filters:
            branches:
              ignore: main
      - build-linux:
          context: opensource-maven
          filters:
            branches:
              only: main
      - build-macos:
          context: opensource-maven
          filters:
            branches:
              only: main
